<div class="row align-items-center">
  <div class="col mh-5 ph-5">
    <div class="row justify-content-center">
      <h1 class="text-center">Bienvenue</h1>
    </div>
    <div class="row justify-content-center">
      <p class="text-center">
        DryField est un jeu où vous devez récolter un maximum de champs. Pour ce faire, vous devrez acheter de l'eau et la répartir
        entre vos trois champs afin de les irriguer continuellement jusqu'à leur maturité...
      </p>
    </div>
  </div>
</div>